<html>
<head></head>
<body><p><strong>Dear Administrator,</strong></p>

<div style="margin-top: 20px">We would like to inform you that a new data file has been submitted to the PePPEr website and is pending your review.</div>

<div style="margin-top: 20px">Submission Details:</div>
<div>- User Account: {}</div>
<div>- Username: {}</div>
<div>- File Name: {}</div>
<div>- Date & Time of Upload: {}</div>

<div style="margin-top: 20px">
We appreciate your dedication and prompt response to this submission.</div>
<div>Thank you.</div>

<div style="margin-top: 20px">Best regards,</div>
<div>The PePPEr Website</div></body>
</html>