{% extends 'base.html' %}
{% block title %}Audit{% endblock %}

{% block style %}

{% endblock %}
{% block js %} {% endblock %}
{% block content %}
  <div id="main">

        <main>


            <div class="container" style="margin-top: 100px;height: 86vh">
                <div class="row">

                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header" style="text-align: center;background-color: #ee743d;color: white">
                                Change Password
                            </div>
                            <div class="card-body">
                                <form method="post" action="">

                                    {% if message %}


                                        <div class="alert alert-warning">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                    {% csrf_token %}
                                    <div class="mb-3 mt-3">
                                        <label  class="form-label">old password:</label>
                                        <input type="password" class="form-control"
                                               placeholder="Please enter your old password" name="old_password" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="pwd" class="form-label">New Password:</label>
                                        <input type="password" class="form-control" id="pwd"
                                               placeholder="Please enter your new password" name="new_password" required>
                                    </div>

                                      <div class="mb-3">
                                        <label for="pwd" class="form-label">New Password:</label>
                                        <input type="password" class="form-control" id="pwd"
                                               placeholder="Please confirm your new password" name="new_password2" required>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <button type="submit" class="btn btn-primary"
                                                    style="background-color: #ee743d;border-color: #ee743d">Change
                                            </button>
                                        </div>

                                    </div>


                                </form>

                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </main>
        <div class="footer">

            Powered by Django, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;©
            Mitchell, Colombier et al. 2023
        </div>


    </div>

{% endblock %}