<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    function showInfo(){
        alert("+++++")
    }
</script>

<a style="width: 70px;height: 20px;line-height: 20px;text-align: center;color: orange;border:2px solid orange;padding: 5px;font-size: 14px;border-radius: 5px;text-decoration: none" onclick="showInfo({})" href='javascript:void(0)' >Approve</a>
<a style="width: 70px;height: 20px;line-height: 20px;text-align: center;color: #A0A2AF;border:2px solid #A0A2AF;padding: 5px;font-size: 14px;border-radius: 5px;text-decoration: none" href="{}" >Reject</a>
</body>
</html>