{% extends 'base.html' %}
{% block title %}Download data {% endblock %}

{% block style %}
    <style>
    input:focus{
        outline:none;
        box-shadow: none;
    }
    </style>
{% endblock %}
{% block js %} {% endblock %}
{% block content %}
    <div class="row" >
        <div class="col-sm-12" style="margin-top: 20px;text-align: center">
            <h3 class="page_title_h3">Calculate polydispersivity (S) of your data</h3>

        </div>
        <div class="col-sm-12" style="margin-top: 10px">
            <p class="page_title">
                Calculate polydispersivity (S) for your particle size distribution (bubbles, vesicles, crystals,
                grains).
            </p>
            <p class="page_title" style="color: grey">
                [Add some more information about polydispersivity in volcanic literature].
            </p>
            <p class="page_title" style="margin-top: 20px">
                Input data as particle diameter (in mm) and volume fraction (of 1.00) below: </p>
        </div>
    </div>

    <div class="row" style="margin-left: 40px;margin-right: 40px;">
        <div class="col-sm-6">

            {#                            <div style="margin-top: 20px">#}
            {#                <div class="row">#}
            {#                    <div class="col">#}
            {#                        <input type="text" class="form-control" placeholder="Eq D (mm)" name="eq" id="eq">#}
            {#                    </div>#}
            {#                    <div class="col">#}
            {#                        <input type="text" class="form-control" placeholder="Volume fraction" name="pswd" id="vf">#}
            {#                    </div>#}
            {#                    <div class="col">#}
            {#                        <input type="button" class="form-control" placeholder="Enter password" name="pswd"#}
            {#                               value="submit" onclick="add_value()">#}
            {#                    </div>#}
            {#                    <div class="col">#}
            {#                        <input type="button" class="form-control" placeholder="Enter password" name="pswd"#}
            {#                               value="clear" onclick="clear_value()">#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}

            <div style="height: 50vh;overflow-y: scroll;margin-top: 20px;width: 100%">

                {#                <table class="table table-striped" style="text-align: center">#}
                <table class="table table-bordered" style="text-align: center">
                    <thead class="sticky-top" style="background-color: #fff">
                    <tr>
                        <th>Eq D (mm)</th>
                        <th>Volume fraction</th>

                    </tr>
                    </thead>


                    {#                    <tbody class="my_table1">#}
                    <tbody class="my_table">
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control myvalta myvalta1" style="border: none"></td>
                        <td><input type="text" class="form-control myvalta myvalta2" style="border: none"></td>
                    </tr>

                    </tbody>
                </table>


            </div>

        </div>
        <div class="col-sm-6 btn_center" >
            <div class="container">
            <div class="row">
                <div class="col-sm-6">            <button class="btn btn_my" style="width: 250px" onclick="compute_s()">Calculated S =</button></div>
                <div class="col-sm-6">            <button class="btn btn_my_border" style="margin-left: 20px" onclick="download_s()">Capture the plot</button></div>

            </div>



            <div style="height: 40vh;overflow-y: scroll;display: none;width: 80%;margin: 20px auto" class="show">
                <img src="" alt="Graphic 1" class="g1">
                <img src="" alt="Graphic 1" class="g2">
                <img src="" alt="Graphic 1" class="g3">
                <img src="" alt="Graphic 1" class="g4">
            </div>
                </div>
        </div>
    </div>



{% endblock %}
{% block javascript %}

    <script>
        var data = []
        $(".myvalta").on('paste', function (event) {


            event.preventDefault();
            var clipPromise = navigator.clipboard.readText();
            clipPromise.then(function (pastedData) {

                var lines = pastedData.split(/\r?\n/); // 切分成行
                var words = [];
                var index = 0;
                lines.forEach(function (line) {
                    var rows = $("tbody tr").eq(index);
                    var value1 = rows.find('td').find('.myvalta1')
                    var value2 = rows.find('td').find('.myvalta2')
                    var lineWords = line.split(/\s+/); // 切分成单词

                    value1.val(lineWords[0])
                    value2.val(lineWords[1])
                    index += 1;


                });
            });

        })

        function add_value() {
            var eq_v = $("#eq").val()
            var vf_v = $("#vf").val()
            if (eq_v == undefined || eq_v == "") {
                alert("Eq D (mm) cann't be null")
                return
            }
            if (vf_v == undefined || vf_v == "") {
                alert("Volume fraction cann't be null")
                return;
            }
            var innerhtml = "   <tr> <td>" + eq_v + "</td> <td>" + vf_v + "</td> </tr>"
            $(".my_table").append(innerhtml)
            $("#eq").val("")
            $("#vf").val("")
            data.push({"eq": eq_v, "vf": vf_v})


        }

        function clear_value() {
            data = []
            $(".my_table").html("")
            $("#eq").val("")
            $("#vf").val("")
            $(".show").css("display", "none")
            $(".btn_my").html("Calculated S =  ")

        }


        function compute_s() {

              var rows = $("tbody tr");
              var data=[]
              rows.each(function (index,row){
                 var eq= $(row).find('td').find('.myvalta1').val()
                 var vf= $(row).find('td').find('.myvalta2').val()
                  if (eq==undefined||eq==""||vf==undefined||vf==""){

                  }else{
                  data.push({"eq":eq,"vf":vf})

                  }


              })

            if (data.length <= 0) {
                swal("Error!", "Please enter data!", "error");
                return
            }


            var settings = {
                "url": "/tool/",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify({
                    "data": data
                }),
            };

            $.ajax(settings).done(function (data) {
                $(".btn_my").html("Calculated S =  " + data['data']['final'])
                var graph = data['data']['graph']
                $(".g1").attr("src", "data:image/png;base64," + graph['g1'])
                $(".g2").attr("src", "data:image/png;base64," + graph['g2'])
                $(".g3").attr("src", "data:image/png;base64," + graph['g3'])
                $(".g4").attr("src", "data:image/png;base64," + graph['g4'])
                $(".show").css("display", "block")
                $(".btn_href").attr("href",data['data']['url'])
            });
        }


        function download_s() {

              var rows = $("tbody tr");
              var data=[]
              rows.each(function (index,row){
                 var eq= $(row).find('td').find('.myvalta1').val()
                 var vf= $(row).find('td').find('.myvalta2').val()
                  if (eq==undefined||eq==""||vf==undefined||vf==""){

                  }else{
                  data.push({"eq":eq,"vf":vf})

                  }


              })

            if (data.length <= 0) {
                swal("Error!", "Please enter data!", "error");
                return
            }


            var settings = {
                "url": "/tool/?type=download",
                "method": "POST",
                "timeout": 0,
                     "headers": {
                    "Content-Type": "application/json"
                },
                {#"responseType":"blob",#}
                "data": JSON.stringify({
                    "data": data
                }),
            };

            $.ajax(settings).done(function (data) {
                {#let blob=new Blob([data],{type:"image/png"})#}
                {#console.log(blob)#}
               {#var imageUrl = window.URL.createObjectURL(blob);#}
                var imageUrl = data['data']['img']

                        // 创建a标签，设置下载属性，模拟点击以下载图片
                        var a = document.createElement('a');
                        a.href = imageUrl;
                        a.download = "plot.jpg"; // 下载时的文件名
                        a.click();

                        // 释放URL对象，避免内存泄漏
                        {#URL.revokeObjectURL(imageUrl);#}
            });
        }
    </script>
{% endblock %}